{% extends "_base_reg.html" %}
{% block content %}
  <div class="card">
    <div class="sub">Правила регистрации</div>
    <div style="font-size:20px; line-height:1.4;">
      <p><i>Разрешено</i> в "нике" использовать только кириллицу и знаки латинского алфавита,
      цифры(кроме 0), а также символы: @, ), (, *, !, -, ~, _, ], [, =.</p>

      <p><i>Разрешено</i> в пароле использовать только знаки латинского алфавита и цифры.
      Пароль не может быть короче четырёх символов.</p>

      <p><i>Запрещено</i> использовать одновременно русские и латинские знаки.</p>

      <p><i>Обязательно</i> вы должны заполнить все поля, помеченные звёздочкой(*).</p>

      <p><i>Рекомендуем:</i> если у Вас есть e-mail, укажите его в поле
      "<b>Ваш e-mail</b>", потому что он используется для <b>восстановления пароля</b>
      (если вы его забудете).</p>

      <p><i>Рекомендуем</i> после регистрации заполнить свою анкету. При регистрации используется упрощённая форма.</p>
    </div>

    <div class="center" style="margin-top:10px;">
      <a href="{{ url_for('reg', stage='step1') }}" class="links" style="font-size:22px;">Начать регистрацию</a>
    </div>

    <div class="center ascii" style="margin-top:10px">-~-</div>
    <div class="center links" style="margin-top:6px;"><a href="{{ url_for('index') }}">&lt;&lt; Главная &lt;&lt;</a></div>
  </div>
{% endblock %}
