{% extends "_base_reg.html" %}
{% block content %}
  <div class="title">Регистрация завершена</div>

  <div class="center" style="margin:10px 0;">
    <div style="font-size:20px">Поздравляем!</div>
    <div style="font-size:20px">Вы успешно зарегистрированы!</div>
  </div>

  <div class="card" style="font-size:20px; line-height:1.45;">
    <div class="center">Ваш ник: <b>{{ nick }}</b></div>
    <div class="center">Ваш ID: <b>{{ uid }}</b></div>
    <div class="center">Пароль: <b>{{ pwd }}</b></div>
    <div class="center ascii" style="margin:8px 0">-~~~-</div>
    <div class="center">Администрация чата вам присваивает:</div>
    <div class="center">Постов: <b>{{ posts }}</b></div>
    <div class="center">Статус: <b>~Постоянный Житель~</b></div>

    <div class="center" style="margin:12px 0;">~~~~~~~~~~</div>

    <div class="center" style="margin:6px 0;font-size:19px;">
      Автологин(Вход по закладке)<br>
      Внимание, обычный автологин у нас не действует, поэтому для автологина используйте ссылку:
    </div>

    <div class="center" style="word-break:break-all;margin:6px 0;">
      <b>{{ autologin_wml }}</b> - автовыбор версии;<br>
      <b>{{ autologin_xml }}</b> - цветная версия.
    </div>

    <div class="center" style="margin-top:10px;">
      Скопировать автологин:<br>
      <input type="text" readonly value="{{ autologin_wml }}" style="width:90%;max-width:560px;padding:6px">
    </div>
  </div>

  <div class="center" style="margin:12px 0;">
    <a href="#" class="links">&gt; В Чат &gt;</a>
  </div>
  <div class="center ascii">-~-</div>
  <div class="center links" style="margin-top:6px;">
    <a href="{{ url_for('index') }}">&lt; На главную &lt;</a>
  </div>
{% endblock %}
